<html lang="en">

% include('head.tpl')

<body>

    % include('navbar.tpl', page='About Us')
    % include('hero.tpl', actiontext='Explore Music', actionlink='/music', text="""This page has mostly static content but also includes <br/> reusable template components from /views/templates/
""")

    % include('services.tpl')


    <!-- Side-by-side blocks -->
    <div id="section-portfolio-1" class="">
        <div class="container-fluid heading top-40">
            <div class="row">
                <div class="col-md-6 top-200 bottom-200 padded-100 bg-gray">
                    <h2>Improvements</h2>
                    <p>Ontem fomos dolor sit amet, consectetur adipisicing elit. Amet doloremque ipsum magni odio quia saepe soluta totam?
                        Adipisicing elit. Atque cupiditate dolores incidunt ipsum laudantium libero maxime quo quod, sapiente voluptatibus.
                        Asperiores at atque aut delectus, id iure labore modi! Inventore. Accusantium culpa dolorem, dolorum eligendi,
                        et laboriosam modi perspiciatis possimus reprehenderit rerum sequi?
                    </p>
                </div>
                <div class="col-md-6 top-200 bottom-200 padded-100 bg-green text-gray">
                    <h2>Advancements</h2>
                    <p>Sense with dolor sit amet, consectetur adipisicing elit. Atque cupiditate dolores incidunt ipsum
                        laudantium libero maxime quo quod, sapiente voluptatibus. Asperiores at atque aut delectus,
                        id iure labore modi! Inventore. Podem consectetur
                        adipisicing elit. Amet doloremque ipsum magni odio quia saepe soluta totam?
                        Accusantium culpa dolorem, dolorum eligendi, et laboriosam modi perspiciatis possimus reprehenderit rerum.</p>
                </div>
            </div>
        </div>
    </div>
    <!--end Side-by-side blocks-->


    <!-- Design -->
    <div id="section-design" class="display-none">
        <div class="container heading top-40 bottom-100 border-bottom">
            <div class="top-60 bottom-40">
                <p><span>Technology</span></p>
                <h1>Design.</h1>
            </div>
            <div class="row">
                <div class="col-md-4 animated fadeInUp">
                    <h3>Affordability</h3>
                    <p>Tiramos a massada à gestão do seu negócio online. Mantenha o foco no que sabe fazer melhor e nós o ajudamos.</p>
                </div>
                <div class="col-md-4 animated fadeInUp">
                    <h3>Development</h3>
                    <p>Tiramos a massada à gestão do seu negócio online. Mantenha o foco no que sabe fazer melhor e nós o ajudamos.</p>
                </div>
                <div class="col-md-4 animated fadeInUp">
                    <h3>Experience</h3>
                    <p class="smiley-symbol">Tiramos a massada à gestão do seu negócio online. Mantenha o foco no que sabe fazer melhor e nós o ajudamos.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end Design -->


    <!--Conversation section -->
    <div id="section-conversation" class="heading top-40 bottom-60">
        <div class="container top-40 bottom-10">
            <div class="row">
                <div class="col-md-2 ml-auto">
                    <h3><i class="fa fa-comments-o fa-3x"></i></h3>
                </div>
                <div class="col-md-6 mr-auto">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid consequatur deleniti,
                        impedit provident tempora tempore vitae? Culpa illum, ipsum?
                        <a href="/" class="text-primary chevron-link">Start a conversation</a></p>
                </div>
            </div>
        </div>
    </div>
    <!--end Conversation section-->



   % include('scripts.tpl')
