    % include('head.tpl')

    % include('navbar.tpl', page="Music")

    % include('hero.tpl', actiontext="Go home?", actionlink="/", text="All songs on this page are stored in a SQL database. <br/> Each song is represented by id, title, artist, album, artwork, and audio preview link.")

    % include('songgrid.tpl')


    <!--Conversation section -->
    <div id="section-conversation" class="heading top-40 bottom-60">
        <div class="container top-40 bottom-10">
            <div class="row">
                <div class="col-md-2 ml-auto">
                    <h3><i class="fa fa-comments-o fa-3x"></i></h3>
                </div>
                <div class="col-md-6 mr-auto">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid consequatur deleniti,
                        impedit provident tempora tempore vitae? Culpa illum, ipsum?
                        <a href="/" class="text-primary chevron-link">Start a conversation</a></p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!--end Conversation section-->

    % include('scripts.tpl')
